.homepage-panel {
  display: flex;
  flex-direction: column;
  margin-top: 5px;
  height: 30vmax;
  transition: 0.5s;
  opacity: 0.8;
  transition: 0.5s;
}

.homepage-panel:hover {
  opacity: 1;
  transition: 0.5s;
}

.homepage-puppies {
  background-image: url('two-yellow-labrador-retriever.jpeg');
}

.puppies-title, .puppies-subtitle, .puppies-text {
  margin-left: 5%;
  font-weight: bolder;
}

.puppies-text {
  position: relative;
  top: 20%;
  margin-right: 20%
}

.homepage-shihtzu {
  background-image: url('shihtzu.jpeg');
}


.shihtzu-title, .shihtzu-subtitle, .shihtzu-text {
  margin-left: 5%;
}

.text-center {
  text-align: center;
}

.bit-margin {
  margin-top: 100px;
  display: grid;
  grid-template-columns: 10% 25% 30% 25% 10%;
}

.circle-button {
  cursor: pointer;
  border: 0px;
  height: 100px;
  border-radius: 50%;
  background-color: #F2B680;
  color: #F20544
}
