.search-tab {
  background-color: #F2B680;
  margin-top: -1.5vmax
}

.align-right {
  text-align: right;
}

.search-box {
  margin: 5px;
  height: 40px;
  font-size: large;
  border-radius: 10px;
  border: none;
}

.right-item {
  margin-right: 3vmax;
}

.container-user-data {
  margin-left: 10%;
  margin-right: 10%;
  display: grid;
  grid-template-columns: 25% auto;
}

.fixed {
  position: fixed;
  border-radius: 5px;
}

.add-button {
  background-color: #ABD907;
}

.add-button:hover {
  background-color: #C0D907;
  cursor: pointer;
}

.darker-background {
  text-align: center;
  background-color: #D8D8D8;
}

.center-align {
  text-align: center;
}